/* https://colorhunt.co/palette/213311 */

* {
    margin: 0;
    box-sizing: border-box;
}

[v-cloak] {display: none}

body {
    background-color: #f1f3f8;
}

.hidden {
    visibility: hidden;
}

.challenge-emoji {
    font-size: 50px;
    opacity: 0.5;
    padding: 10px;
}

.challenge-emoji.current {
    font-size: 100px;
    opacity: 1;
    background-color: #01c5c4;
}

.challenge-emoji.completed {
    font-size: 50px;
    opacity: 1;
    background-color: #b8de6f;
    transition: all 0.5s;
}

#spinner-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#user-emotions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#expression {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
    margin: 0;
}


.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}